<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ page.title }} - Aedificium</title>
	<meta name="description" content="Aedificium (aedi.app) is a lightweight building server with a whole bunch of cool features.">
	<meta name="keywords" content="Aedificium,aedi,aedi.app,architecture,build,building,creative,freebuild,minecraft,server,servers">

	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="/assets/css/global.css" rel="stylesheet" type="text/css" media="all">
</head>
