{% assign active = page.url | downcase | split: '/' %}
<div {% if active[1] == null %}class='navbar index'{% else %}class='navbar'{% endif %}>
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li {% if active[1] == null %}class='active'{% endif %}><a href="/">Index</a></li>
				<li {% if active[1] == 'blog' %}class='active'{% endif %}><a href="/blog">Blog</a></li>
				<li {% if active[1] == 'resources' %}class='dropdown active'{% else %}class='dropdown'{% endif %}>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="https://files.aedi.app/">Static file server</a></li>
						<li><a href="/map">Dynmap® map</a></li>
						<li class="divider"></li>
						<li class="nav-header">Administrators</li>
						<li><a href="https://panel.aedi.app/">Pterodactyl® panel</a></li>
					</ul>
				</li>
				<li {% if active[1] == 'support' %}class='active'{% endif %}><a href="/support">Support</a></li>
				<li><a href="https://forum.aedi.app">Forum</a></li>
			</ul>
		</div>
	</div>
</div>
