<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				{% assign active = page.url | downcase | split: '/' %}
				<li {% if active[1] == null %}class='active'{% endif %}><a href="/">Index</a></li>
				<li {% if active[1] == 'gallery' %}class='active'{% endif %}><a href="/gallery">Gallery</a></li>
				<li {% if active[1] == 'support' %}class='active'{% endif %}><a href="/support">Support</a></li>
				<li {% if active[1] == 'about' %}class='active'{% endif %}><a href="/about">About</a></li>
			</ul>
		</div>
	</div>
</div>
