/* Custom container */
.container {
	margin: 0 auto;
	width: unset;
	max-width: 940px;
}
body > .container {
	padding: 0 10px;
}
.masthead img {
	margin: 0 10px 0 0;
}
.masthead h3 {
	margin: 5px 0;
}
.masthead .joiner {
	float: right;
	margin: 0;
	font-weight: normal;
	color: #bbb;
}
hr.hidden {
	margin: 15px 0;
	border: 0;
}
/* Jumbotron and button */
.jumbotron {
	margin: 50px 0;
	text-align: center;
}
.jumbotron.padded {
	margin: -20px 10px 0 10px;
	padding: 50px 0;
	background: url(/assets/svg/top_mountain.svg);
	background-repeat: no-repeat;
	background-position: right 0 bottom -165px;
	background-size: 500px;
}
.jumbotron .lead {
	font-size: 24px;
	line-height: 1.5;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
	border-top-left-radius: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
	border-top-left-radius: 0;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}
/* Homepage */
.lead {
	font-weight: normal;
}
#btn-left {
	margin-right: 10px;
}
#btn-right {
	margin-left: 10px;
}
.hero-unit {
	padding: 0;
	height: 18.5rem;
	margin-bottom: 50px;
	border: 1px solid #d4d4d4;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
iframe {
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 6px;
}
.footer {
	margin: 0 0 50px 0;
	text-align: center;
}
.footer p {
	margin: 10px 0;
}
/* Section pages */
section > .page-header {
	margin-bottom: 1rem;
}
/* Support pages */
#supportPage > .span3 {
	margin-left: 0;
}
.well.sidebar-nav {
	padding: 10px 0;
}
/* Mobile */
@media only screen and (max-width: 979px) {
	.container {
		background-position: center 35px;
		background-size: 650px;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		background: unset;
	}
}
@media only screen and (max-width: 450px) {
	.jumbotron.padded {
		background-position-x: center;
	}
	.jumbotron .btn {
		width: calc(100% - 50px);
		display: inline-block;
	}
	#btn-left, #btn-right {
		margin: 0 0 5px 0;
	}
}
