---
layout: default
---
{% assign date_format = '%m/%-d/%Y' %}
{% assign date_format_1 = '%-d %B %Y' %}
{% assign sorted_posts = site.posts | sort: 'date' %}
{% assign active = page.url | downcase | split: '/' %}
<div class="jumbotron blog">
    <div class="inner">
	    <h1>Commentarii interretiales de ædificium</h1>
	    <p><i>Online comments pertaining to Aedificium.</i>  A blog which concerns the continued development of our favorite architecture server, written by a small team of administrators.<p>
    </div>
</div>
<div class="content blog-sidebar">
	<div class="span3">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
			{% for post in sorted_posts limit:5 %}
				<li {% if post.url == page.url %}class='active'{% endif %}><a href="/blog/{{ active1[2] }}">{{ post.date | date: date_format }} - {{ post.title }}</a></li>
			{% endfor %}
				<li><a href="/blog/posts">See all blog posts »</a></li>
			</ul>
		</div>
	</div>
	<!--/span-->
	<div class="span9">
		<section class="blog-post">
			<div class="page-header"><h2>{{ page.title }} <small>{{ page.date | date: date_format_1 }}</small></h2></div>
			{{ content }}
		</section>
	</div>
	<!--/span-->
</div>
